.light {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.led {
  background-color: #f8fbd9;
  position: relative;
  border: solid black 1px;
}
