/** This is controlling the led circle that is being litten up **/
.light {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
}

/** this is the container that our led lives in **/
.led {
  background-color: #f8fbd9;
  position: relative;
  border: solid black 1px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.led.selected {
  background-color: #828380;
}

#leds {
  position: relative;
  margin: 10px auto;
}

/** Strip controls a row of leds **/

.strip {
  display: flex;
}

.strip.right {
  flex-direction: row-reverse;
}

.strip.right-down {
  flex-direction: column;
}

.strip.left-down {
  flex-direction: column;
}

/** Player **/

.player input {
  width: 100%;
}

.controls {
  text-align: center;
}

.controls .btn {
  display: inline;
  border: solid 1px black !important;
  margin: 5px;
  width: fit-content;
}

/** Select **/
#submit-select {
  margin-top: 30px;
}

/** helpers **/

.relative {
  position: relative;
}

h1 {
  text-align: center;
}
