/** This is controlling the led circle that is being litten up **/
.light {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 15px;
  height: 15px;
}

/** this is the container that our led lives in **/
.led {
  background-color: #f8fbd9;
  position: relative;
  border: solid black 1px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.led.selected {
  background-color: #1a2201;
}

#leds {
  position: relative;
  width: 1000px;
  margin: 10px auto;
}

/** Strip controls a row of leds **/

.strip {
  display: flex;
}

.strip.right {
  flex-direction: row-reverse;
}

.strip.right-down {
  flex-direction: column;
  margin-left: 980px;
}

.strip.left-down {
  flex-direction: column;
}
